.page-header {
    margin-top: 0;
    margin-bottom: 40px;
    padding: 1.5rem 3rem;
    background: darkblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#title {
    color: #ffffff;
    text-decoration: none;
}

#title h1 {
    font-size: 3rem;
}

.date {
    color: #828282;
}

.save {
    margin-right: 30px;
}


h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}

#top-menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

#top-menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
}

.bi {
    fill: white;
}

#top-menu a:hover {
    transform: scale(1.07);
    transition: all ease-in-out 200ms;
}

.post {
    margin-bottom: 50px;

}

.post-form textarea,
.post-form input {
    width: 100%;
}

.post h2 a,
.post h2 a:visited {
    color: #000000;
}

.post time {
    margin-right: 2rem;
}


.post>.date,
.post>.actions {
    float: right;

}

.save,
.cancel {
    float: right;
}

.btn-secondary,
.btn-secondary:visited {
    color: darkblue;
    background: none;
    border-color: darkblue;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: darkblue;
}