{% extends 'article/base.html' %}
{% load static %}

{% block content %}
<article class="post">
    <aside class="actions">
        {% if user.is_authenticated %}
        <a class="btn btn-secondary" href="{% url 'post_edit' pk=article.pk %}">
            <img src="{% static 'images/pencil.svg' %}" alt="pencil icon">
        </a>
        {% endif %}
    </aside>

    {% if article.published_date %}
    <time class="date">
        {{ article.published_date }}
    </time>
    {% endif %}
    <h2>{{ article.title }}</h2>
    <p>{{ article.text|linebreaksbr }}</p>
</article>
{% endblock %}